/* Font & text properties for header and footer */

/* Example of element selectors */

body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 6em;
    font-variant: small-caps;

    text-align: center;

    margin-bottom: 5px;
}

h2 {
    font-size: 3em;
    font-variant: small-caps;
}

footer {
    text-align: center;
}

/* Example of a class selector */

.bold {
    font-weight: bold;
}

/* Example of an id selector */

#experience_form label {
    font-weight: bold;
}

/* Sizing */

/* Full-width image */ 
header img {
    width: 100%;
}

/*Example of attribute selectors */
#experience_form input[type="text"], input[type="email"] {
    width: 300px;
} 

#experience_form textarea {
    height: 100px;
    width: 100%;

    padding: 10px;
}

/* Layout and spacing properties */

/* Center content relative to the page's width */
.container {
    max-width: 960px;
    margin: 0 auto 50px auto;

    border-bottom: 1px solid grey;
}

/* Multicolumn layout for activities */
.activity-row {
    display: flex;
    margin-bottom: 20px;
}

.activity-col {
    padding: 10px;
}

#communities {
    display: flex;
}

#experience_form input, #experience_form textarea, #experience_form label {
    display: block;

    margin-bottom: 10px;
}

#experience_form input, #experience_form textarea {
    margin-bottom: 10px;
    padding: 10px;
}

/* Borders */

/* Circle-shaped images */
.activity-col img {
    border-radius: 50%;
}

/* Navigation menu */

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav ul {
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav li {
    list-style-type: none;

    display: inline-block;
    padding: 10px 10px 10px 10px;
}

/* unvisited link */
nav a:link {
    color: #DCDCDC;
}

/* visited link */
nav a:visited {
    color: #DCDCDC;
}

/* mouse over link */
nav a:hover {
    color: white;
}

/* selected link */
nav a:active {
    color: white;
}